# Neon Postgres
DATABASE_URL="postgresql://USER:PASSWORD@HOST-pooler/neondb?sslmode=require"
DIRECT_URL="postgresql://USER:PASSWORD@HOST/neondb?sslmode=require"

# Auth.js
AUTH_SECRET="generate-with-openssl-rand-hex-32"
AUTH_TRUST_HOST="true"
AUTH_URL="http://localhost:3000"
